<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>travel-planning_iOs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9324380A1E5084FC00D73FB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9324381E1E5084FC00D73FB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>932438291E5084FC00D73FB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
